.save {
    height: 20px;
    border: none;
    background-color: #C5630C;
    color: black;
    border-radius: 5px;
    margin-left: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    border: none;
    width: 80%;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    background-color: #32373D;
    color: #A5ABAF;
    padding-left: 5px;
}

.content {
    border: none;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    background-color: #32373D;
    color: #A5ABAF;
    padding-left: 5px;
    padding-top: 5px;
}

input:focus {
    outline: 1px solid #C5630C;
}

textarea:focus {
    outline: 1px solid #C5630C;
}

textarea {
    resize: none;
    font-family: 'Raleway', sans-serif;
}