.update-wrapper {
    display: flex;
    justify-content: right;
    width: 80%;
    margin: 10px auto 10px;
}

.update {
    height: 20px;
    border: none;
    background-color: #C5630C;
    color: black;
    border-radius: 5px;
}