body {
    padding-top: 90px;
}
.name {
    padding: 0px;
    font-weight: bold;
    border: none;
    color: #A5ABAF;
}

.write {
    background-color: #C5630C;
    color: A5ABAF;
    border: none;
    border-radius: 5px;
}

.home-title {
    width: 80%;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #32373D;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: #A5ABAF;
}

.remove-button {
    height: 20px;
    border: none;
    background-color: #C5630C;
    color: black;
    border-radius: 5px;
    margin-left: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.to-read {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #A5ABAF;
}

.check-box {
    margin-right: 10px;
    background-color: #A5ABAF;
    border: none;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .home-title {
        width: 95%;
        flex-direction: column;
        height: auto;
    }

    .to-read {
        width: 95%;
    }

    .remove-button {
        margin-left: auto;
        margin-right: 5%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #2F2A25;
    }
}
